<body>
<div class="header-container">
  <h1>Yet Another Dev Blog</h1>
  <h4>I share whatever I know</h4>
</div>

<nav class="site-nav">
  <div class="site-nav-left">
    <ul class="nav">
      <li class="nav-items">Home</li>
      <li class="nav-items">Blog</li>
      <li class="nav-items">About</li>
    </ul>
  </div>

  <div class="site-nav-right">
    <ul class="nav">
      <li class="nav-items">Twitter</li>
      <li class="nav-items">Instagram</li>
      <li class="nav-items">FB</li>
      <li class="nav-items">GitHub</li>
    </ul>
  </div>
</nav>
<div class="separator-line"></div>

</body>
