.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 70px 25px;
}

.site-nav {
  display: flex;
  overflow-y: hidden;
  align-items: flex-start;
  height: 40px;
}

.site-nav-left {
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  margin: auto;
}

.site-nav-right {
  align-items: flex-end;
  overflow-x: auto;
  white-space: nowrap;
  margin: auto;
}

.nav-items {
  display: block;
  padding: 5px;
}

.separator-line {
  display: flex;
  border-bottom: 2px solid rgba(172, 182, 185, 0.35);
  margin: auto;
}

