@import 'bootstrap/dist/css/bootstrap';

.navbar {
  text-align: center;
  line-height: 50px !important;
}

.navbar-brand {
  text-align: center;
  color: aqua !important;
}

.gruvbox-dark {
  background-color: #282828;
  //color: #ebdbb2;
  color: aqua !important;
}

.hack {
  font-size: 1.2rem;
  line-height: 22px;
}

.nav-title {
  font-size: 150%;
}

ul {
  list-style-type: disc;
}